@import "../../styles/sizes.scss", "../../styles/color.scss",
  "../../styles/button.scss";

// Default
.block {
  background: $black;
  color: $white;
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid $black;
}

.shadow {
  box-shadow: 2px 2px 4px rgba($color: #000, $alpha: 0.7);
}

// Size
.small {
  padding: $small;
  font-size: 16px;
}

.medium {
  padding: $medium;
  font-size: 18px;
}

.large {
  padding: $large;
  font-size: 20px;
}

// Shape
.box {
  border-radius: 0;
}

.rounded {
  border-radius: 16px;
}

//Color
.black {
  @include black;
}

.white {
  @include white;
}

.primary {
  @include primary;
}

.primary-outline {
  @include primary-outline;
}

.secondary {
  @include secondary;
}

.secondary-outline {
  @include secondary-outline;
}

.success {
  @include success;
}

.failure {
  @include failure;
}

.cancel {
  @include cancel;
}
