@import "./color.scss";

// default
@mixin white {
  background: $white;
}
@mixin black {
  background: $black;
}

@mixin inactive {
  background: $gray_3;
  color: $white;
  cursor: default;
  border: 1px solid $gray_4;
}

// active
@mixin primary-active {
  background: $blue_2;
  color: $blue_5;
  border: 1px solid $blue_2;
}
@mixin secondary-active {
  background: $grape_5;
  color: $white;
  border: 1px solid $grape_5;
}

// primary
@mixin primary {
  background: $blue_5;
  border: 1px solid $blue_5;
  color: $black;
  &:hover {
    background: none;
    border: 1px solid $blue_5;
    color: $blue_5;
  }
  &:disabled {
    @include inactive;
  }
  &:active:not(:disabled) {
    @include primary-active;
  }
}
@mixin primary-outline {
  background: none;
  border: 1px solid $blue_5;
  color: $blue_5;
  &:hover {
    background: $blue_5;
    border: 1px solid $blue_5;
    color: $black;
  }
  &:disabled {
    @include inactive;
  }
  &:active:not(:disabled) {
    @include primary-active;
  }
}

// secondary
@mixin secondary {
  background: $grape_5;
  color: $black;
  border: 1px solid $grape_5;
  &:hover {
    background: none;
    border: 1px solid $grape_5;
    color: $grape_5;
  }
  &:disabled {
    @include inactive;
  }
  &:active:not(:disabled) {
    @include secondary-active;
  }
}
@mixin secondary-outline {
  background: none;
  border: 1px solid $grape_5;
  color: $grape_5;
  &:hover {
    background: $grape_5;
    color: $black;
    border: 1px solid $grape_5;
  }
  &:disabled {
    @include inactive;
  }
  &:active:not(:disabled) {
    @include secondary-active;
  }
}

// success
@mixin success {
  background: $green_6;
  border: 1px solid $green_6;
  color: $white;
  &:hover {
    background: $green_4;
    border: 1px solid $green_4;
  }
  &:disabled {
    @include inactive;
  }
  &:active:not(:disabled) {
    background: $green_7;
  }
}

// failure
@mixin failure {
  background: none;
  border: 1px solid $red_6;
  color: $red_6;
  &:hover {
    background: $red_6;
    border: 1px solid $red_6;
    color: $white;
  }
  &:disabled {
    @include inactive;
  }
  &:active:not(:disabled) {
    background: $red_7;
  }
}

// cancel
@mixin cancel {
  background: $red_6;
  border: 1px solid $red_6;
  color: $white;
  &:hover {
    background: $red_4;
    border: 1px solid $red_4;
    color: $white;
  }
  &:disabled {
    @include inactive;
  }
  &:active:not(:disabled) {
    background: $red_7;
  }
}
