@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Satisfy&display=swap");

// font-weight
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// title-font-size
$title-small: 18px;
$title-medium: 24px;
$title-large: 32px;
$title-larger: 40px;
$title-largest: 48px;

// text-font-size
$text-small: 14px;
$text-medium: 16px;
$text-large: 18px;
$text-larger: 20px;
$text-largest: 24px;
