@import "../styles/sizes.scss", "../styles/color.scss", "../styles/button.scss";

// Default
.block {
  background: $black;
  color: $white;
  border: none;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    background: $gray_7;
  }
  &:disabled {
    background: $gray_4;
    color: $black;
    cursor: default;
  }
  &:active {
    background: $gray_4;
  }
}

// Size
.small {
  padding: $small;
  font-size: 16px;
}

.medium {
  padding: $medium;
  font-size: 18px;
}

.large {
  padding: $large;
  font-size: 20px;
}

//Color
.black {
  @include black;
}

.white {
  @include white;
}

// color
.primary {
  @include primary;
}
.primary-outline {
  @include primary-outline;
}
.secondary {
  @include secondary;
}
.secondary-outline {
  @include secondary-outline;
}
.success {
  @include success;
}
.failure {
  @include failure;
}
