@import "../styles/sizes.scss";

// Default
.block {
  background: #000;
  color: #fff;
  border: none;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    background: #333;
  }
  &:disabled {
    background: #ccc;
    color: #000;
    cursor: default;
  }
  &:active {
    background: #ccc;
  }
}

// Size
.small {
  padding: $small;
}

.medium {
  padding: $medium;
}

.large {
  padding: $large;
}

// Color
